

body {
    background-image: url(https://newevolutiondesigns.com/images/freebies/4k-space-wallpaper-1.jpg) ;
    background-size: cover;
    font-family: 'Gemunu Libre', sans-serif;
    height: 100%;
    display: flex;
    flex-direction: column;     
    text-align: center;
    justify-content: space-between;
    align-items:center ;
}

button {
    background-color: black;
    color: white;
}
button:hover {
    background-color: white;
    color: black;
  }
.title {
    font-family: 'Gemunu Libre', sans-serif;
    font-size: 80px;
    color: white;
}
h2 {
    font-size: 30px;
    color: white;
}
#word {
    font-size: 100px;
    width: 60vw;
    color: white;
    /* grid-area: main; */
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: auto;
}
#result {
    font-size: 100px;
    color: white;
}
img {
    width: 30%;
}
#word > div {
    border-bottom: 3px solid lightcoral;
    width: 50px;
    height: 100px;
}
#wrongLetter {
    font-size: 80px;
    color: white;
    /* grid-area: main; */
    margin-top: 30px;
    justify-content: center;
}
#tries {
    font-size: 80px;

}   
.keys {
    display: inline-block;
    height: 40px;
    width: 40px;
    margin: 10px;
} 
#playAgain {
    height: 40px;   
    width: 100px;
    align-items: center;
    justify-content: center;
}












