body {
    background-image: url(https://newevolutiondesigns.com/images/freebies/4k-space-wallpaper-1.jpg);
    background-size: cover;
    font-family: 'Gemunu Libre', sans-serif;
    height: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-between;
    align-items: center;
}

button {
    background-color: black;
    color: white;
}

button:hover {
    background-color: white;
    color: black;
    opacity: 1;

}

.title {
    font-family: 'Gemunu Libre', sans-serif;
    font-size: 5vw;
    color: white;
}

h2 {
    font-size: 2vw;
    color: white;
}

#word {
    font-size: 6vw;
    width: 100%;
    color: white;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-around;
    letter-spacing: 25px;
    
}


#result {
    font-size: 5vw;
    color: white;
}

img {
    width: 25%;
    margin-top: 10px;
    
}


#wrongLetter {
    font-size: 5vw;
    color: coral;
}

.keys {
    display: inline-block;
    height: 5vmin;
    width: 5vmin;
    margin: 2vmin;
}

#playAgain {
    height: 50px;
    width: 150px;
    font-size: 20px;
    margin-top: 40px;
    align-items: center;
    justify-content: center;
}
